.filter-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(33, 33, 33, 0.4);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeIn 0.2s ease-out;
}

.main-card {
    background-color: var(--pure-white);
    border-radius: 20px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 350px;

    padding-bottom: 30px;

    height: 100%;
    max-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    animation: scaleIn 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.filter-top-div {
    background-color: var(--light-cyan);
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-icon {
    font-size: 40px;
}

.filter-title {
    font-size: 34px;
    font-weight: 700;
    color: var(--text-black);
    margin-bottom: 8px;
    margin-top: 0px;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.filter-button {
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid black;

    background-color: var(--pure-white);

    width: 200px;

    font-size: 20px;
    font-weight: 500;

    cursor: pointer;
    transition: all 0.2s ease;
}

.filter-button:hover {
    transform: scale(1.05);
    background-color: var(--dark-gray);
    color: var(--pure-white);
}

.selected {
    background-color: var(--light-gray);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 39, 104, 0.4);
    }

    70% {
        box-shadow: 0 0 0 12px rgba(255, 39, 104, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 39, 104, 0);
    }
}