.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;

    background-color: var(--dark-purple);
    color: var(--pure-white);

    border: none;
    cursor: pointer;
}